{% extends 'header_footer.html' %}
{% load static %}
{% block content %}
{% load custom_filters %}

    <!-- start banner Area -->
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        About Us
                    </h1>
                    <p class="text-white link-nav"><a href="index.html">Home </a> <span
                            class="lnr lnr-arrow-right"></span> <a href="about.html"> About Us</a></p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->

    <!-- Start about-video Area -->
    <section class="about-video-area section-gap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 about-video-left">
                    <h6 class="text-uppercase">Brand new app to blow your mind</h6>
                    <h1>
                        We’ve made a life <br>
                        that will change you
                    </h1>
                    <p>
                        <span>
                            SK Architect & Interior is one of the growing firm Based In Baroda .
                            Our Unique Research and Space Management is the key to our Success.
                            We Specialize in Creating Innovative Design,with a passion for design and a commitment to excellence .
                            We transform residential and commercial exterior and interiors into inspiring environments.
                        </span>
                    </p>
                    <a class="primary-btn mt-30" href="#">Get Started Now</a>
                </div>
                <div class="col-lg-6 about-video-right justify-content-center align-items-center d-flex relative">
                    <div class="overlay overlay-bg"></div>
                    <a class="play-btn" href="https://www.youtube.com/watch?v=ARA0AxrnHdM"><img
                            class="img-fluid mx-auto" src="img/play-btn.png" alt=""></a>
                </div>
            </div>
        </div>
    </section>
    <!-- End about-video Area -->

    <!-- Start feature Area -->
    <section class="feature-area section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 pb-40 header-text text-center">
                    <h1 class="pb-10 text-white">Why SK Interior Architecture ?</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature">
                        <a href="#" class="title d-flex flex-row align-items-center">
                            <span class="lnr lnr-pencil"></span>
                            <h4>Highly Customized Interior Design Solutions</h4>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature">
                        <a href="#" class="title d-flex flex-row align-items-center">
                            <span class="lnr lnr-tag"></span>
                            <h4>Affordable Solutions For Every Kind of Budget</h4>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature">
                        <a href="#" class="title d-flex flex-row align-items-center">
                            <span class="lnr lnr-star"></span>
                            <h4>High-Quality Interior Design Projects</h4>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature">
                        <a href="#" class="title d-flex flex-row align-items-center">
                            <span class="lnr lnr-layers"></span>
                            <h4>Modern Interior Designing Solutions</h4>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature">
                        <a href="#" class="title d-flex flex-row align-items-center">
                            <span class="lnr lnr-clock"></span>
                            <h4>On-Time Project Completion</h4>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature">
                        <a href="#" class="title d-flex flex-row align-items-center">
                            <span class="lnr lnr-users"></span>
                            <h4>Experienced & Dedicated Team</h4>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature">
                        <a href="#" class="title d-flex flex-row align-items-center">
                            <span class="lnr lnr-checkmark-circle"></span>
                            <h4>Warranty Up to 15 Years</h4>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature">
                        <a href="#" class="title d-flex flex-row align-items-center">
                            <span class="lnr lnr-diamond"></span>
                            <h4>High-Quality Materials</h4>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature">
                        <a href="#" class="title d-flex flex-row align-items-center">
                            <span class="lnr lnr-leaf"></span>
                            <h4>Sustainable Designs</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End feature Area -->

    <!-- Start testimonial Area -->
    <section class="testimonial-area pt-120">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Testimonial from our Clients</h1>
                        <p>Who are in extremely love with eco friendly system.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="active-testimonial-carusel">

                    {% for data in feedbacks %}
                        <div class="single-testimonial item d-flex flex-row">
                            <div class="desc">
                                <p>
                                    <span class="lnr lnr-bubble"></span>
                                    <strong>{{ data.comment }}</strong>
                                </p>
                                <h4>
                                    <span class="lnr lnr-user"></span> {{ data.user_name }}
                                </h4>
                                <div class="star">
                                    {% for _ in data.rating|times %}
                                        <span class="fa fa-star checked"></span>
                                    {% endfor %}
                                </div>
                                <div class="align-self-end">
                                    Commented on {{ data.date }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
    <!-- End testimonial Area -->


    <section class="testimonial-area pt-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <h3 class="mb-30">Feedback Form</h3>
                    <form method="post" action="/create_user_feedback/">
                        {% csrf_token %}
                        <div class="mt-10">
                            <input type="text" name="user_name" placeholder="Your Full Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Full Name'" required class="single-input">
                        </div>
                        <div class="input-group-icon mt-10">
                            <div class="icon">Rate</div>
                            <div class="form-select" id="default-select">
                                <select name="rating">
                                    <option value="5">⭐⭐⭐⭐⭐</option>
                                    <option value="4">⭐⭐⭐⭐</option>
                                    <option value="3">⭐⭐⭐</option>
                                    <option value="2">⭐⭐</option>
                                    <option value="1">⭐</option>
                                </select>
                            </div>
                        </div>
                        <div class="mt-10">
                            <textarea name="comment" class="single-textarea" placeholder="Add Comment" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Add Comment'" required></textarea>
                        </div>
                        <div class="mt-10">
                            <input type="text" name="user_phone_number" placeholder="Your Phone Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Phone Number'" required class="single-input">
                        </div>
                        <div class="button-group-area mt-10">
                            <button type="submit" class="genric-btn primary-border">SUBMIT</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <!-- Start callto-action Area -->
    <section class="callto-action-area pt-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="callto-action-wrap col-lg-12 relative section-gap">
                    <div class="content">
                        <h1>
                            Looking for a <br>
                            quality and affordable interior design?
                        </h1>
                        <p class="mx-auto">
                            inappropriate behavior is often laughed off as “boys will be boys,” women face higher
                            conduct standards especially in the workplace.
                        </p>
                        <a href="#" class="primary-btn text-uppercase">Request quote now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End callto-action Area -->

    <!-- Start blog Area -->
    <section class="blog-area section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-60 col-lg-9">
                    <div class="title text-center">
                        <h1 class="mb-10">Ongoing Exhibitions from the scratch</h1>
                        <p>Who are in extremely love with eco friendly system.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="active-blog-carusel">
                    <div class="single-blog-post item">
                        <div class="thumb">
                            <img class="img-fluid" src="img/b1.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="tags">
                                <ul>
                                    <li>
                                        <a href="#">Travel</a>
                                    </li>
                                    <li>
                                        <a href="#">Life Style</a>
                                    </li>
                                </ul>
                            </div>
                            <a href="#"><h4 class="title">Low Cost Advertising</h4></a>
                            <p>
                                Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A
                                farmer.
                            </p>
                            <h6 class="date">31st January,2018</h6>
                        </div>
                    </div>
                    <div class="single-blog-post item">
                        <div class="thumb">
                            <img class="img-fluid" src="img/b2.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="tags">
                                <ul>
                                    <li>
                                        <a href="#">Travel</a>
                                    </li>
                                    <li>
                                        <a href="#">Life Style</a>
                                    </li>
                                </ul>
                            </div>
                            <a href="#"><h4 class="title">Creative Outdoor Ads</h4></a>
                            <p>
                                Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A
                                farmer.
                            </p>
                            <h6 class="date">31st January,2018</h6>
                        </div>
                    </div>
                    <div class="single-blog-post item">
                        <div class="thumb">
                            <img class="img-fluid" src="img/b3.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="tags">
                                <ul>
                                    <li>
                                        <a href="#">Travel</a>
                                    </li>
                                    <li>
                                        <a href="#">Life Style</a>
                                    </li>
                                </ul>
                            </div>
                            <a href="#"><h4 class="title">It's Classified How To Utilize Free</h4></a>
                            <p>
                                Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A
                                farmer.
                            </p>
                            <h6 class="date">31st January,2018</h6>
                        </div>
                    </div>
                    <div class="single-blog-post item">
                        <div class="thumb">
                            <img class="img-fluid" src="img/b1.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="tags">
                                <ul>
                                    <li>
                                        <a href="#">Travel</a>
                                    </li>
                                    <li>
                                        <a href="#">Life Style</a>
                                    </li>
                                </ul>
                            </div>
                            <a href="#"><h4 class="title">Low Cost Advertising</h4></a>
                            <p>
                                Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A
                                farmer.
                            </p>
                            <h6 class="date">31st January,2018</h6>
                        </div>
                    </div>
                    <div class="single-blog-post item">
                        <div class="thumb">
                            <img class="img-fluid" src="img/b2.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="tags">
                                <ul>
                                    <li>
                                        <a href="#">Travel</a>
                                    </li>
                                    <li>
                                        <a href="#">Life Style</a>
                                    </li>
                                </ul>
                            </div>
                            <a href="#"><h4 class="title">Creative Outdoor Ads</h4></a>
                            <p>
                                Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A
                                farmer.
                            </p>
                            <h6 class="date">31st January,2018</h6>
                        </div>
                    </div>
                    <div class="single-blog-post item">
                        <div class="thumb">
                            <img class="img-fluid" src="img/b3.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="tags">
                                <ul>
                                    <li>
                                        <a href="#">Travel</a>
                                    </li>
                                    <li>
                                        <a href="#">Life Style</a>
                                    </li>
                                </ul>
                            </div>
                            <a href="#"><h4 class="title">It's Classified How To Utilize Free</h4></a>
                            <p>
                                Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A
                                farmer.
                            </p>
                            <h6 class="date">31st January,2018</h6>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- End blog Area -->

    <!-- Start brands Area -->
    <section class="brands-area pb-60 pt-60">
        <div class="container no-padding">
            <div class="brand-wrap">
                <div class="row align-items-center active-brand-carusel justify-content-start no-gutters">
                    <div class="col single-brand">
                        <a href="#"><img class="mx-auto" src="img/l1.png" alt=""></a>
                    </div>
                    <div class="col single-brand">
                        <a href="#"><img class="mx-auto" src="img/l2.png" alt=""></a>
                    </div>
                    <div class="col single-brand">
                        <a href="#"><img class="mx-auto" src="img/l3.png" alt=""></a>
                    </div>
                    <div class="col single-brand">
                        <a href="#"><img class="mx-auto" src="img/l4.png" alt=""></a>
                    </div>
                    <div class="col single-brand">
                        <a href="#"><img class="mx-auto" src="img/l5.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End brands Area -->

{% endblock %}