{% extends 'header_footer.html' %}
{% load static %}
{% block content %}

    <!-- start banner Area -->
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        Project Details
                    </h1>
                    <p class="text-white link-nav"><a href="/">Home </a> <span
                            class="lnr lnr-arrow-right"></span> <a href="/project"> Projects</a></p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->

    <!-- Start project-details Area -->
    <section class="project-details-area section-gap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 project-details-left">

                    <img class="img-fluid" src="{{ project.project_image.url }}" alt="{{ project.name }}">
                </div>
                <div class="col-lg-6 project-details-right">
                    <h3 class="pb-20">{{ project.name }}</h3>
                    <p>
                        <h4><b> Project Details: </b></h4>
                    </p>
                    <div class="details-info d-flex flex-row">
                        <ul class="names">
                            <li>Start Date : </li>
                            <li>End Date : </li>
                            <li>Status : </li>
                            <li>Location : </li>
                        </ul>
                        <ul class="desc">
                            <li>{{ project.start_date }}</li>
                            <li>{{ project.end_date }}</li>
                            <li>{{ project.status }}</li>
                            <li>{{ project.location }}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12 project-desc mt-60">
                    <p>
                        {{ project.description }}
                    </p>
                </div>
            </div>

            {% if project_gallery %}
        <div class="row mt-5">
            <div class="col-lg-12">
                <h4>Project Gallery</h4>
            </div>
            {% for image_detail in project_gallery %}
            <div class="col-lg-3 col-md-4 col-sm-6 mt-3">
                <div class="card">
                    <img class="card-img-top" src="{{ image_detail.image.url }}" alt="{{ image_detail.name }}">
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        </div>

    </section>
    <!-- End project-details Area -->

{% endblock %}