{% extends 'header_footer.html' %}
{% load static %}
{% block content %}

    <!-- start banner Area -->
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        Projects
                    </h1>
                    <p class="text-white link-nav"><a href="index.html">Home </a> <span
                            class="lnr lnr-arrow-right"></span> <a href="projects.html"> Projects</a></p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->

    <!-- Start gallery Area -->
    <section class="gallery-area section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 pb-40 header-text text-center">
                    <h1 class="pb-10">Our Recent Works may impress you</h1>
                    <p>
                        Who are in extremely love with eco friendly system.
                    </p>
                </div>
            </div>
            <div class="row">
                {% for data in projects %}
                    <div class="col-lg-8 mx-auto">
                        <div class="single-gallery">
                            <div class="content">
                                <a href="#" target="_blank">
                                    <div class="content-overlay"></div>
                                    <img
                                            class="content-image img-fluid d-block mx-auto"
                                            src="{{ data.project_image.url }}"
                                            alt="{{ data.name }}"
                                    >
                                    <div class="content-details fadeIn-bottom">
                                        <h3 class="content-title mx-auto">{{ data.name }}</h3>
                                        <a
                                                href="/project_information/{{ data.id }}"
                                                class="primary-btn text-uppercase mt-20"
                                        >
                                            More Detail
                                        </a>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- End gallery Area -->

    <!-- Start brands Area -->
    <!-- End brands Area -->

{% endblock %}