{% extends 'header_footer.html' %}
{% load static %}
{% block content %}
    <!-- start banner Area -->
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        Services
                    </h1>
                    <p class="text-white link-nav"><a href="/">Home </a> <span
                            class="lnr lnr-arrow-right"></span> <a href="/service"> Services</a></p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->

    <!-- Start service Area -->
    <section class="service-area section-gap" id="service">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 pb-50 header-text text-center">
                    <h1 class="mb-10">What we offer to our clients</h1>
                    <p>Who are in extremely love with eco friendly system..</p>
                </div>
            </div>

            <!-- Always 2 cols per row, equal gaps -->
            <div class="row row-cols-2 g-4">
                <div class="col">
                    <div class="single-service h-100">
                        <a href="#"><h4>Interior Design</h4></a>
                        <p>
                            Sony laptops are among the most well known laptops on today’s market. Sony is a name that
                            over time has established itself as creating a solid product.
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="single-service h-100">
                        <a href="#"><h4>Architecture Design</h4></a>
                        <p>
                            Computer users and programmers have become so accustomed to using Windows, even for the
                            changing capabilities and the appearances of the graphical.
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="single-service h-100">
                        <a href="#"><h4>Concept Design</h4></a>
                        <p>
                            Can you imagine what we will be downloading in another twenty years? I mean who would have
                            ever thought that you could record sound.
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="single-service h-100">
                        <a href="#"><h4>Civil Work</h4></a>
                        <p>
                            Make your retail spaces, restaurants, lobbies, and other public spaces more attractive with
                            our commercial interior designing services.
                            We specialize in adding furniture and theme-based decoration to meet the original design
                            goals.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- End service Area -->

    <!-- Start feature Area -->
    <section class="feature-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 pb-40 header-text text-center">
                <h1 class="pb-10 text-white">Some Features that Made us Unique</h1>
                <p class="text-white">
                    Who are in extremely love with eco friendly system.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <a href="#" class="title d-flex flex-row align-items-center">
                        <span class="lnr lnr-home"></span>
                        <h4>Interior Expertise</h4>
                    </a>
                    <p>
                        We specialize in delivering affordable and unique interior design services in Vadodara.
                        Our dedicated team is committed to understanding your vision and bringing it to life with creativity, quality, and timely execution.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <a href="#" class="title d-flex flex-row align-items-center">
                        <span class="lnr lnr-phone-handset"></span>
                        <h4>Free Consultations</h4>
                    </a>
                    <p>
                        We provide free consultations to understand your vision and offer creative solutions tailored just for you.
                        Call us today to book your appointment: 9726083838
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <a href="#" class="title d-flex flex-row align-items-center">
                        <span class="lnr lnr-smile"></span>
                        <h4>Customer Satisfaction</h4>
                    </a>
                    <p>
                        Client satisfaction is the foundation of our firm. We listen carefully, design thoughtfully, and execute precisely to ensure your dream space becomes a reality.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <a href="#" class="title d-flex flex-row align-items-center">
                        <span class="lnr lnr-sync"></span>
                        <h4>Follow-Ups</h4>
                    </a>
                    <p>
                        We believe in thorough follow-ups and precise planning. Designs are completed and approved first, preventing waste and unnecessary revisions during execution.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <a href="#" class="title d-flex flex-row align-items-center">
                        <span class="lnr lnr-tag"></span>
                        <h4>Reasonable Price</h4>
                    </a>
                    <p>
                        Your investment matters to us.
                        That’s why we create personalized, budget-friendly plans that fulfill your design goals while keeping costs reasonable.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <a href="#" class="title d-flex flex-row align-items-center">
                        <span class="lnr lnr-checkmark-circle"></span>
                        <h4>Guaranteed Works</h4>
                    </a>
                    <p>
                        Our main goal is not to complete the project, our goal is to give our best to any project.
                        We always believe in providing the most effective and affordable solution to our client.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- End feature Area -->

    <!-- Start callto-action Area -->
    <!-- End callto-action Area -->

    <!-- Start brands Area -->
    <!-- End brands Area -->
{% endblock %}